{{ log this }}
<div class="S0-dialog-content">
    <div style="display: flex; column-gap: 5px;">
        <div style="flex: 3;">
            <h3>
                <label>{{ localize 'S0.Level' }}: {{ level}}</label>
            </h3>
            <label style="font-weight: bold;">{{ name }}</label>
        </div>

        <h3 style="display: flex; flex: 1; min-width: 110px; align-items: center; justify-content: center;">
            {{family}}
        </h3>
    </div>
    <hr>

    <label><strong>{{ localize 'S0.Sobrecarga' }}</strong>: {{ overload }}</label>
    <label><strong>{{ localize 'S0.Duracao' }}</strong>: {{ duration }}</label>
</div>