{{ log this }}
<div style="margin-bottom: 5px;">
    <div style="display: flex; column-gap: 5px;">
        <div style="flex: 3;">
            <h3 style="margin: 0;">
                <label>
                    <strong>{{ localize 'S0.Level' }}</strong>: {{ level}}
                </label>
            </h3>
            <label style="display: block; font-weight: bold; margin-block: 6px">{{ name }}</label>
        </div>

        <label
            style="flex: 1; min-width: 110px; text-align: center; text-shadow: 0 1px 5px var(--shadow-color); font-weight: bold;">
            {{family}}
        </label>
    </div>
    <hr>

    <label style="font-weight: bold; display: block;">{{ localize 'S0.Sobrecarga' }}: {{ overload }}</label>
    <label style="font-weight: bold; display: block">{{ localize 'S0.Duracao' }}: {{ duration }}</label>
</div>