<div class="S0-page S0-container">
    <div class="form-group">
        <label for="{{item.id}}.resistance" style="flex: 1;">
            {{localize 'S0.Resistencia_Total'}}:
        </label>
        <input id="{{item.id}}.resistance" style="flex: 1; text-align: center;" type="number" name="system.resistance"
            value="{{item.system.resistance}}" min="1" max="15"/>
    </div>

    <div class="form-group">
        <label for="{{item.id}}.actual_resistance" style="flex: 1;">
            {{localize 'S0.Resistencia_Atual'}}:
        </label>
        <input id="{{item.id}}.actual_resistance" style="flex: 1; text-align: center;" type="number" min="0"
            max="{{item.system.resistance}}" name="system.actual_resistance"
            value="{{item.system.actual_resistance}}" />
    </div>
</div>