<div class="S0-dialog">
    <form class="S0-container">
        <div class="form-group">
            <label>
                {{localize 'S0.Nome'}}
            </label>
            <textarea rows="2" style="resize: none;" maxlength="45" name="name" {{#unless canEdit}}disabled{{/unless}}>{{name}}</textarea>
        </div>

        <h3>{{localize 'S0.Atributos'}}</h3>
        <div class="form-group">
            <select id="primary_attribute" class="S0-select" name="primary_attribute" {{#unless
                canEdit}}disabled{{/unless}}>
                {{#each attributes}}
                <option value="{{id}}" {{selectIfEq ../primary_attribute id }}>{{localize label}}</option>
                {{/each}}
            </select>
            <select id="secondary_attribute" class="S0-select" name="secondary_attribute" {{#unless
                canEdit}}disabled{{/unless}}>
                {{#each attributes}}
                <option value="{{id}}" {{selectIfEq ../secondary_attribute id }}>{{localize label}}</option>
                {{/each}}
            </select>
        </div>

        <h3>{{localize 'S0.Habilidade'}}</h3>
        <div class="form-group">
            <select id="ability" class="S0-select" name="ability" {{#unless canEdit}}disabled{{/unless}}>
                {{#each abilities}}
                <option value="{{id}}" {{selectIfEq ../ability id }}>{{localize label}}</option>
                {{/each}}
            </select>

            <label for="specialist">{{localize 'S0.Especialista'}}</label>
            <input id="specialist" type="checkbox" name="specialist" value="true" {{#if specialist}}checked{{/if}}
                {{#unless canEdit}}disabled{{/unless}} />
        </div>

        <h3>{{localize 'S0.Outros'}}</h3>
        <div class="form-group">
            <label for="difficulty">{{localize 'S0.Dificuldade'}}</label>
            <input id="difficulty" type="number" name="difficulty" min="5" max="10" value="{{difficulty}}" {{#unless
                canEdit}}disabled{{/unless}} />
        </div>
        <div class="form-group">
            <label for="bonus">{{localize 'S0.Bonus'}}</label>
            <input id="bonus" type="number" name="bonus" value="{{bonus}}" min="0" {{#unless
                canEdit}}disabled{{/unless}} />
        </div>
        <div class="form-group">
            <label for="automatic">{{localize 'S0.Automatico'}}</label>
            <input id="automatic" type="number" name="automatic" value="{{automatic}}" min="0" {{#unless
                canEdit}}disabled{{/unless}} />
        </div>
    </form>

    {{#unless (isNull buttons)}}
    <div class="S0-flex-center" style="column-gap: 4px; margin-block: 6px;">
        {{#each buttons}}
        <button class="S0-flex-center {{classes}}" data-action="{{key}}">{{label}}
            {{#unless (isNull icon)}}
            <i style="margin: 0px; margin-left: 4px;" class="fas {{icon}}"></i>
            {{/unless}}
        </button>
        {{/each}}
    </div>
    {{/unless}}

</div>