<form>
    {{log this}}
    <div class="S0-container">
        <div class="form-group">
            <label>
                {{localize 'S0.Nome'}}
            </label>
            <input type="text" name="name" value="{{name}}" {{#unless canEdit}}disabled{{/unless}} />
        </div>

        <div class="form-group">
            <label for="primary_attribute">
                {{localize 'S0.Atributo_Primario'}}
            </label>
            <select id="primary_attribute" class="S0-select" name="primary_attribute" {{#unless
                canEdit}}disabled{{/unless}}>
                {{#each attributes}}
                <option value="{{id}}" {{selectIfEq ../primary_attribute id }}>{{localize label}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="secondary_attribute">
                {{localize 'S0.Atributo_Secundario'}}
            </label>
            <select id="secondary_attribute" class="S0-select" name="secondary_attribute" {{#unless
                canEdit}}disabled{{/unless}}>
                {{#each attributes}}
                <option value="{{id}}" {{selectIfEq ../secondary_attribute id }}>{{localize label}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="ability">
                {{localize 'S0.Habilidade'}}
            </label>
            <select id="ability" class="S0-select" name="ability" {{#unless canEdit}}disabled{{/unless}}>
                {{#each abilities}}
                <option value="{{id}}" {{selectIfEq ../ability id }}>{{localize label}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize 'S0.Dificuldade'}}</label>
            <input type="number" name="difficulty" min="5" max="10" value="{{difficulty}}" {{#unless
                canEdit}}disabled{{/unless}} />
        </div>

        <div class="form-group">
            <label>{{localize 'S0.Bonus'}}</label>
            <input type="number" name="bonus" value="{{bonus}}" min="0" {{#unless canEdit}}disabled{{/unless}} />
        </div>

        <div class="form-group">
            <label>{{localize 'S0.Automatico'}}</label>
            <input type="number" name="automatic" value="{{automatic}}" min="0" {{#unless
                canEdit}}disabled{{/unless}} />
        </div>

        <div class="form-group">
            <label>{{localize 'S0.Especialista'}}</label>
            <input style="height: 20px; width: 20px; flex: 0 0 60%;" type="checkbox" name="specialist" value="true" {{#if
                specialist}}checked{{/if}} {{#unless canEdit}}disabled{{/unless}} />
        </div>
    </div>
</form>