<form autocomplete="off">
    {{> itemCommon this}}

    <div class="S0-page S0-container">
        <div class="form-group">
            <label for="{{item.id}}.damage" style="flex: 1;">
                {{localize 'S0.Dano'}}:
            </label>
            <input id="{{item.id}}.damage" style="flex: 1; text-align: center;" type="number" min="0" max="6"
                name="system.damage" value="{{item.system.damage}}" />
        </div>

        <div class="form-group">
            <label for="{{item.id}}.true_damage" style="flex: 1;">
                {{localize 'S0.Dano_Automatico'}}:
            </label>
            <input id="{{item.id}}.true_damage" style="flex: 1; text-align: center;" type="number" min="0" max="6"
                name="system.true_damage" value="{{item.system.true_damage}}" />
        </div>

        <div class="form-group">
            <label for="{{item.id}}.damage_type" style="flex: 1;">
                {{localize 'S0.Tipo_Dano'}}:
            </label>
            <select id="{{item.id}}.damage_type" class="S0-select" style="flex: 1;" name="system.damage_type">
                {{#each (fetchRepository 'equipment-damage-type')}}
                <option value="{{id}}" {{selectIfEq ../item.system.damage_type id }}>{{label}}</option>
                {{/each}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="{{item.id}}.hand" style="flex: 1;">
                {{localize 'S0.Maos'}}:
            </label>
            <select id="{{item.id}}.hand" class="S0-select" style="flex: 1;" name="system.hand">
                {{#each (fetchRepository 'equipment-hand-type')}}
                <option value="{{id}}" {{selectIfEq ../item.system.hand id }}>{{label}}</option>
                {{/each}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="{{item.id}}.occultability" style="flex: 1;">
                {{localize 'S0.Ocultabilidade'}}:
            </label>
            <select id="{{item.id}}.occultability" class="S0-select" style="flex: 1;" name="system.occultability">
                {{#each (fetchRepository 'equipment-occultability')}}
                <option value="{{id}}" {{selectIfEq ../item.system.occultability id }}>{{label}}</option>
                {{/each}}
                </option>
            </select>
        </div>
    </div>

    {{> itemSuperEquipment this}}
    
    {{> itemRollableTests this}}

    <div class="S0-page S0-container">
        <label for="{{item.id}}.description" style="display: block;">
            {{localize 'S0.Descricao'}}:
        </label>
        <textarea id="{{item.id}}.description" style="resize: none; margin-top: 5px;" name="system.description"
            type="text" maxlength="150" rows="5">{{system.description}}</textarea>
    </div>
</form>