<form autocomplete="off">
    {{> itemCommon this}}

    <div class="S0-page S0-container">
        {{> itemCommonWeapon this}}

        <div class="form-group">
            <label for="{{item.id}}.size" style="flex: 1;">
                {{localize 'S0.Itens.Tamanho'}}:
            </label>
            <select id="{{item.id}}.size" class="S0-select" style="flex: 1;" name="system.size">
                {{#each (fetchRepository 'equipment-melee-size')}}
                <option value="{{id}}" {{selectIfEq ../item.system.size id }}>{{label}}</option>
                {{/each}}
                </option>
            </select>
        </div>
    </div>

    {{#if item.system.super_equipment}}
    {{> itemCommonResistance this}}
    {{/if}}

    {{> itemSuperEquipment this}}

    {{> itemRollableTests this}}

    {{> itemCommonDescription this}}
</form>