<form autocomplete="off">
    {{> itemCommon this}}

    <div class="S0-page S0-container">
        {{> itemCommonWeapon this}}

        <div class="form-group">
            <label for="{{item.id}}.size" style="flex: 1;">
                {{localize 'S0.Itens.Tamanho'}}:
            </label>
            <select id="{{item.id}}.size" class="S0-select" style="flex: 1;" name="system.size">
                {{#each (fetchRepository 'equipment-melee-size')}}
                <option value="{{id}}" {{selectIfEq ../item.system.size id }}>{{label}}</option>
                {{/each}}
                </option>
            </select>
        </div>
    </div>

    {{> itemSuperEquipment this}}

    {{> itemRollableTests this}}

    <div class="S0-page S0-container">
        <label for="{{item.id}}.description" style="display: block;">
            {{localize 'S0.Descricao'}}:
        </label>
        <textarea id="{{item.id}}.description" style="resize: none; margin-top: 5px;" name="system.description"
            type="text" maxlength="150" rows="5">{{system.description}}</textarea>
    </div>
</form>