<form autocomplete="off">
    {{> itemCommon this}}

    <div class="S0-page S0-container">
        <div class="form-group">
            <label style="flex: 1;">{{localize 'S0.Resistencia'}}:</label>
            <input style="flex: 1;" type="number" name="system.resistance" value="{{system.resistance}}" />
        </div>

        <div class="form-group">
            <label style="flex: 1;">{{localize 'S0.Efeitos'}}:</label>
            <input style="flex: 1;" type="text" name="system.effects" value="{{system.effects}}" />
        </div>

        <label style="display: block; margin-block: 5px;">
            {{localize 'S0.Descricao'}}:
        </label>
        <textarea style="resize: none;" name="system.description" type="text" maxlength="150"
            rows="5">{{system.description}}</textarea>
    </div>
</form>