<div>
    <h3> {{localize title}}
        {{#if editable}}
        <a data-characteristic="trait" data-action="add" data-type="{{type}}">
            <i class="fas fa-square-plus"></i>
        </a>
        {{/if}}
    </h3>

    <ul id="container-trait-{{type}}">
        {{#each traits as |item index|}}
        {{#with ../type as |type|}}

        <li style="display: flex; align-items: center; padding: 2px" data-item-index="{{index}}">
            <label style="flex: 1;">{{item.name}}</label>
            {{#if @root.editable}}
            <a data-action="edit" data-characteristic="trait" data-type="{{type}}" style="margin-inline: 4px;">
                <i class="fas fa-edit"></i>
            </a>
            <a data-action="remove" data-characteristic="trait" data-type="{{type}}" style="margin-inline: 4px;">
                <i class="fas fa-trash"></i>
            </a>
            {{else}}
            <a data-action="chat" data-characteristic="trait" data-type="{{type}}" style="margin-inline: 4px;">
                <i class="fas fa-message-quote"></i>
            </a>
            <a data-action="view" data-characteristic="trait" data-type="{{type}}" style="margin-inline: 4px;">
                <i class="fas fa-eye"></i>
            </a>
            {{/if}}
        </li>
        {{/with}}
        {{/each}}
    </ul>
</div>