<section data-label="{{ localize 'S0.Caracteristicas' }}" class="S0-page">
    <ul>
        <li>
            <h2>
                {{localize 'S0.Personagem'}}
            </h2>
            <section>
                <ul style="columns: 2;">
                    <li style="display: flex; align-items: center;">
                        <label for="morfologia" style="flex: 1;">{{ localize 'S0.Morfologia' }}:</label>
                        <select id="morfologia" name="system.morfologia" style="flex: 2;">
                            <option value="androide" {{selectIfEq actor.system.morfologia "androide" }}>{{ localize
                                'S0.Androide'}}
                            </option>
                            <option value="ciborgue" {{selectIfEq actor.system.morfologia "ciborgue" }}>{{ localize
                                'S0.Ciborgue'}}
                            </option>
                            <option value="sintetico" {{selectIfEq actor.system.morfologia "sintetico" }}>{{
                                localize
                                'S0.Sintetico'}}</option>
                        </select>
                    </li>
                    <li style="display: flex; align-items: center;">
                        <label for="bairro" style="flex: 1;">{{ localize 'S0.Bairro' }}:</label>
                        <select id="bairro" name="system.bairro" style="flex: 2;">
                            <option value="alfiran" {{selectIfEq actor.system.bairro "alfiran" }}>Alfiran</option>
                            <option value="ameisen" {{selectIfEq actor.system.bairro "ameisen" }}>Ameisen</option>
                            <option value="aranhas" {{selectIfEq actor.system.bairro "aranhas" }}>Aranhas</option>
                            <option value="ptitsy" {{selectIfEq actor.system.bairro "ptitsy" }}>Ptitsy</option>
                            <option value="tokojirami" {{selectIfEq actor.system.bairro "tokojirami" }}>Tokojirami
                            </option>
                            <option value="vyura" {{selectIfEq actor.system.bairro "vyura" }}>Vyura</option>
                        </select>
                    </li>
                </ul>
            </section>
        </li>

        <li>
            <h2> {{localize 'S0.Virtudes'}} </h2>
            <section id="virtudesContainer" style="columns: 3;"></section>
        </li>

        <li>
            <h2>
                {{localize 'S0.Fama'}}
            </h2>
            <section id="famaContainer" style="columns:3"></section>
        </li>

        <li>
            <h2>
                {{localize 'S0.Atributos'}}
            </h2>
            <section id="atributosContainer" style="columns: 2;"></section>
        </li>
        <li>
            <h2>
                {{localize 'S0.Habilidades'}}
            </h2>
            <section id="habilidadesContainer" style="columns: 2;"></section>
        </li>
        <li>
            <h2>
                {{localize 'S0.Repertorio'}}
            </h2>
            <section id="repertorioContainer"></section>
        </li>
    </ul>
</section>