<section data-label="{{ localize 'S0.Caracteristicas' }}" class="S0-page" data-icon="fa-solid fa-person-dots-from-line">
    <ul>
        <li class="S0-container">
            <h2> {{localize 'S0.Virtudes'}} </h2>
            <div id="virtudesContainer" class="S0-container-3-column"></div>
        </li>

        <li class="S0-container">
            <h2>
                {{localize 'S0.Fama'}}
            </h2>
            <div id="famaContainer" class="S0-container-3-column"></div>
        </li>

        <li class="S0-container">
            <h2>
                {{localize 'S0.Atributos'}}
            </h2>
            <div id="atributosContainer" class="S0-container-2-column"></div>
        </li>

        <li class="S0-container">
            <h2>
                {{localize 'S0.Habilidades'}}
            </h2>
            <div id="habilidadesContainer" class="S0-container-2-column"></div>
        </li>

        <li class="S0-container">
            <h2>
                {{localize 'S0.Repertorio'}}
            </h2>
            <div id="repertorioContainer"></div>
        </li>
    </ul>
</section>