<section data-label="{{ localize 'S0.Caracteristicas' }}" class="S0-page">
    <ul>
        <li class="S0-container">
            <h2> {{localize 'S0.Virtudes'}} </h2>
            <div id="virtudesContainer" style="columns: 3;"></div>
        </li>

        <li class="S0-container">
            <h2>
                {{localize 'S0.Fama'}}
            </h2>
            <div id="famaContainer" style="columns:3"></div>
        </li>

        <li class="S0-container">
            <h2>
                {{localize 'S0.Atributos'}}
            </h2>
            <div id="atributosContainer" style="columns: 2;"></div>
        </li>

        <li class="S0-container">
            <h2>
                {{localize 'S0.Habilidades'}}
            </h2>
            <div id="habilidadesContainer" style="columns: 2;"></div>
        </li>
        
        <li class="S0-container">
            <h2>
                {{localize 'S0.Repertorio'}}
            </h2>
            <div id="repertorioContainer"></div>
        </li>
    </ul>
</section>