<section data-label="{{ localize 'S0.Caracteristicas' }}" class="S0-page">
    <ul>
        <li>
            <h2> {{localize 'S0.Virtudes'}} </h2>
            <section id="virtudesContainer" style="columns: 3;"></section>
        </li>

        <li>
            <h2>
                {{localize 'S0.Fama'}}
            </h2>
            <section id="famaContainer" style="columns:3"></section>
        </li>

        <li>
            <h2>
                {{localize 'S0.Atributos'}}
            </h2>
            <section id="atributosContainer" style="columns: 2;"></section>
        </li>
        <li>
            <h2>
                {{localize 'S0.Habilidades'}}
            </h2>
            <section id="habilidadesContainer" style="columns: 2;"></section>
        </li>
        <li>
            <h2>
                {{localize 'S0.Repertorio'}}
            </h2>
            <section id="repertorioContainer"></section>
        </li>
    </ul>
</section>