<div class="S0-enhancement">
    <select data-action="change" data-characteristic="enhancement" data-type="enhancement" data-item-id="{{item-id}}">
    </select>

    <hr style="box-shadow: 0 0 2px 0 var(--shadow-color);" />

    <ul>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{item-id}}" data-enhancement-level="1"></select>
            <div class="S0-characteristic" data-action="check" data-characteristic="enhancement"> </div>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{item-id}}" data-enhancement-level="2"></select>
            <div class="S0-characteristic" data-action="check" data-characteristic="enhancement"> </div>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{item-id}}" data-enhancement-level="3"></select>
            <div class="S0-characteristic" data-action="check" data-characteristic="enhancement"> </div>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{item-id}}" data-enhancement-level="4"></select>
            <div class="S0-characteristic" data-action="check" data-characteristic="enhancement"> </div>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{item-id}}" data-enhancement-level="5"></select>
            <div class="S0-characteristic" data-action="check" data-characteristic="enhancement"> </div>
        </li>
    </ul>
</div>