<div class="S0-enhancement">
    <select data-action="change" data-characteristic="enhancement" data-type="enhancement"
        data-item-id="{{enhancement-slot}}">
    </select>

    <hr style="box-shadow: 0 0 2px 0 var(--shadow-color);" />

    <ul>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{enhancement-slot}}" data-enhancement-level="1"></select>
            <a class="hidden" data-action="view" data-characteristic="enhancement">
                <i class="fas fa-eye"></i>
            </a>
            <a class="S0-characteristic S0-clickable" data-action="check" data-characteristic="enhancement"> </a>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{enhancement-slot}}" data-enhancement-level="2"></select>
            <a class="hidden" data-action="view" data-characteristic="enhancement">
                <i class="fas fa-eye"></i>
            </a>
            <a class="S0-characteristic S0-clickable" data-action="check" data-characteristic="enhancement"> </a>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{enhancement-slot}}" data-enhancement-level="3"></select>
            <a class="hidden" data-action="view" data-characteristic="enhancement">
                <i class="fas fa-eye"></i>
            </a>
            <a class="S0-characteristic S0-clickable" data-action="check" data-characteristic="enhancement"> </a>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{enhancement-slot}}" data-enhancement-level="4"></select>
            <a class="hidden" data-action="view" data-characteristic="enhancement">
                <i class="fas fa-eye"></i>
            </a>
            <a class="S0-characteristic S0-clickable" data-action="check" data-characteristic="enhancement"> </a>
        </li>
        <li>
            <select data-action="change" data-characteristic="enhancement" data-type="level"
                data-enhancement-slot="{{enhancement-slot}}" data-enhancement-level="5"></select>
            <a class="hidden" data-action="view" data-characteristic="enhancement">
                <i class="fas fa-eye"></i>
            </a>
            <a class="S0-characteristic S0-clickable" data-action="check" data-characteristic="enhancement"> </a>
        </li>
    </ul>
</div>