<section data-label="{{localize 'S0.Equipamentos'}}" class="S0-page" data-icon="fa-solid fa-swords-laser">
    <div class="S0-full-background S0-container">
        <h3>
            {{localize 'S0.Equipados'}}
            {{#if editable}}
            <a data-characteristic="equipment" data-sub-characteristic="menu" data-type="equipped" data-action="remove">
                <i class="fas fa-arrow-down-to-square"></i>
            </a>
            {{/if}}
        </h3>

        <hr>

        <ul class="S0-container-5-column">
            {{#each (actorLists actor 'equipment-equipped') as |item|}}
            <li>{{> equipamentEquippedItem item }}</li>
            {{/each}}
        </ul>
    </div>

    <div class="S0-full-background S0-container">
        <h3>
            {{localize 'S0.Mochila'}}
            {{#if editable}}
            <a data-characteristic="equipment" data-sub-characteristic="menu" data-type="bag" data-action="remove">
                <i class="fas fa-trash"></i>
            </a>
            <a data-characteristic="equipment" data-sub-characteristic="menu" data-type="bag" data-action="add">
                <i class="fas fa-square-plus"></i>
            </a>
            {{/if}}
        </h3>

        <ul class="S0-infinity-horizontal-menu">
            {{#each (fetchRepository 'equipment-types')}}
            <li class="S0-simulate-button {{#if (eq @root/document.sheet.filterBag id)}}S0-marked{{/if}}"
                style="width: auto; padding-inline: 20px" data-action="check" data-characteristic="equipment"
                data-sub-characteristic="filter" data-type="{{type}}">
                <h4 style="font-size: var(--font-size-12);">
                    {{label}}
                </h4>
            </li>
            {{/each}}
        </ul>

        <hr>

        <ul class="S0-container-5-column" id="bagContainer" style="row-gap: 10px;">
            {{#each (actorLists actor 'equipment-filtered') as |item|}}
            <li>
                {{> equipamentBagItem item }}
            </li>
            {{/each}}
        </ul>
    </div>
</section>