<section data-label="{{ localize 'S0.Status' }}" class="S0-page" id="statusPage" data-icon="fas fa-heart-pulse">

    {{#unless (isNull actor.system.experiencia)}}
    <div class="S0-container">
        <h2>
            {{localize 'S0.Experiencia'}}
        </h2>

        <ul class="S0-ul-flex">
            {{#if editable}}
            {{#if (gameFunc 'isGm')}}
            <li class="S0-container">
                <h3>
                    <label for="experiencia.atual">{{localize 'S0.Disponivel'}}</label>
                </h3>
                <h4>
                    <input id="experiencia.atual" name="system.experiencia.atual" type="text"
                        value="{{actor.system.experiencia.atual}}" placeholder="0" />
                </h4>
            </li>
            {{else}}
            <li class="S0-container">
                <h3>{{localize 'S0.Disponivel'}}</h3>
                <h4>{{actor.system.experiencia.atual}}</h4>
            </li>
            {{/if}}
            <li class="S0-container">
                <h3>
                    <label for="experiencia.usada">{{localize 'S0.Usada'}}</label>
                </h3>
                <h4>
                    <input id="experiencia.usada" name="system.experiencia.usada" type="text"
                        value="{{actor.system.experiencia.usada}}" placeholder="0" />
                </h4>
            </li>
            {{else}}
            <li class="S0-container">
                <h3>{{localize 'S0.Disponivel'}}</h3>
                <h4>{{actor.system.experiencia.atual}}</h4>
            </li>
            <li class="S0-container">
                <h3>{{localize 'S0.Usada'}}</h3>
                <h4>{{actor.system.experiencia.usada}}</h4>
            </li>
            {{/if}}

            <li class="S0-container">
                <h3>{{localize 'S0.Total'}}</h3>
                <h4>{{actorValues actor 'total_experience'}}</h4>
            </li>
        </ul>
    </div>
    {{/unless}}

    <div class="S0-container">
        <h2> {{localize 'S0.Situacao'}}
            {{#if canRoll}}
            <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="all">
                <i class="fas fa-refresh"></i>
            </a>
            {{/if}}
        </h2>

        <ul class="S0-ul-flex">
            <li class="S0-container">
                <h3>{{ localize 'S0.Movimento'}}</h3>
                <h4>{{actorValues actor 'pm'}}</h4>
            </li>
            <li class="S0-container">
                <h3>
                    {{ localize 'S0.Iniciativa'}}
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="roll" data-characteristic="temporary" data-type="initiative">
                        <i class="fas fa-dice-d10"></i>
                    </a>
                    {{/if}}
                </h3>
                <h4>{{actorValues actor 'initiative'}}</h4>
            </li>
            <li class="S0-container">
                <h3>{{ localize 'S0.Penalidade'}}</h3>
                <h4>{{actorValues actor 'penalty'}}</h4>
            </li>
        </ul>

        <ul class="S0-ul-flex">
            <li class="S0-container">
                <h3>
                    {{ localize 'S0.Consciencia'}}
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="virtue"
                        data-item-type="consciencia">
                        <i class="fas fa-refresh"></i>
                    </a>
                    {{/if}}
                </h3>
                <div id="consciencia" class="S0-inner-container">
                    {{#forLoop 0 actor.system.virtudes.consciencia.level}}
                    {{#with ../canRoll as |canRoll|}}
                    <div class="S0-characteristic S0-characteristic-temp {{#if canRoll}}S0-clickable{{/if}}"
                        data-action="{{#if canRoll}}check{{/if}}" data-characteristic="temporary" data-type="virtue"
                        data-item-type="consciencia">
                    </div>
                    {{/with}}
                    {{/forLoop}}
                </div>
            </li>

            <li class="S0-container">
                <h3>
                    {{ localize 'S0.Perseveranca'}}
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="virtue"
                        data-item-type="perseveranca">
                        <i class="fas fa-refresh"></i>
                    </a>
                    {{/if}}
                </h3>
                <div id="perseveranca" class="S0-inner-container">
                    {{#forLoop 0 actor.system.virtudes.perseveranca.level}}
                    {{#with ../canRoll as |canRoll|}}
                    <div class="S0-characteristic S0-characteristic-temp {{#if canRoll}}S0-clickable{{/if}}"
                        data-action="{{#if canRoll}}check{{/if}}" data-characteristic="temporary" data-type="virtue"
                        data-item-type="perseveranca">
                    </div>
                    {{/with}}
                    {{/forLoop}}
                </div>
            </li>

            <li class="S0-container">
                <h3>
                    {{ localize 'S0.Quietude'}}
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="virtue"
                        data-item-type="quietude">
                        <i class="fas fa-refresh"></i>
                    </a>
                    {{/if}}
                </h3>
                <div id="quietude" class="S0-inner-container">
                    {{#forLoop 0 actor.system.virtudes.quietude.level}}
                    {{#with ../canRoll as |canRoll|}}
                    <div class="S0-characteristic S0-characteristic-temp {{#if canRoll}}S0-clickable{{/if}}"
                        data-action="{{#if canRoll}}check{{/if}}" data-characteristic="temporary" data-type="virtue"
                        data-item-type="quietude">
                    </div>
                    {{/with}}
                    {{/forLoop}}
                </div>
            </li>
        </ul>

        <ul class="S0-ul-flex">
            {{#if (eq actor.system.morfologia 'sintetico')}}
            <li class="S0-container">
                <h3>
                    {{ localize 'S0.Vida' }}
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="roll" data-characteristic="temporary" data-type="life">
                        <i class="fas fa-dice-d10"></i>
                    </a>
                    {{/if}}
                </h3>
                <div id="vida" class="S0-inner-container">
                    {{#forLoop 0 10}}
                    {{#with ../canRoll as |canRoll|}}
                    <div class="S0-characteristic S0-characteristic-temp {{#if canRoll}}S0-clickable{{/if}}"
                        data-action="{{#if canRoll}}check{{/if}}" data-characteristic="temporary" data-type="life">
                    </div>
                    {{/with}}
                    {{/forLoop}}
                </div>
            </li>
            {{/if}}

            {{#unless (eq actor.system.nucleo 0)}}
            <li class="S0-container">
                <h3>
                    {{ localize 'S0.Sobrecarga' }}
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="roll" data-characteristic="temporary" data-type="overload">
                        <i class="fas fa-dice-d10"></i>
                    </a>
                    <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="overload">
                        <i class="fas fa-refresh"></i>
                    </a>
                    {{/if}}
                </h3>
                <div id="sobrecarga" class="S0-inner-container">
                    {{#forLoop 0 5}}
                    {{#with ../canRoll as |canRoll|}}
                    <div class="S0-characteristic S0-characteristic-temp {{#if canRoll}}S0-clickable{{/if}}"
                        data-action="{{#if canRoll}}check{{/if}}" data-characteristic="temporary" data-type="overload">
                    </div>
                    {{/with}}
                    {{/forLoop}}
                </div>
            </li>
            {{/unless}}
        </ul>

        <ul class="S0-ul-flex">
            <li class="S0-container" style="flex: 3">
                <h3>
                    {{ localize 'S0.Vitalidade' }}
                    <label style="font-size: var(--font-size-11);">
                        {{actorValues actor 'current_damage'}}/{{actorValues actor 'vitality'}}
                    </label>
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="health">
                        <i class="fas fa-refresh"></i>
                    </a>
                    {{/if}}
                </h3>
                <div id="vitalidade" class="S0-inner-container">
                    {{#forLoop 0 actor.system.vitalidade.total}}
                    {{#with ../canRoll as |canRoll|}}
                    <div class="S0-characteristic S0-characteristic-temp {{#if canRoll}}S0-clickable{{/if}}"
                        data-action="{{#if canRoll}}check_contextual{{/if}}" data-characteristic="temporary"
                        data-type="health">
                    </div>
                    {{/with}}
                    {{/forLoop}}
                </div>

                <div class="S0-container" style="display: flex; justify-content: space-around; margin-bottom: 2px;">
                    <div class="S0-inner-li">
                        <label><strong>{{localize 'S0.Clique_Esquerdo'}}:</strong> {{localize 'S0.Letal'}}</label>
                        <div class="S0-characteristic S0-characteristic-temp"
                            style="background-color: var(--secondary-color);">
                        </div>
                    </div>
                    <div class="S0-inner-li">
                        <label><strong>{{localize 'S0.Clique_Direito'}}:</strong> {{localize 'S0.Superficial'}}</label>
                        <div class="S0-characteristic S0-characteristic-temp"
                            style="background-color: var(--primary-color);">
                        </div>
                    </div>
                </div>
            </li>

            {{#unless (isNull actor.system.equipedProtectItem) }}
            <div class="S0-container" style="flex: 1;">
                <h3>
                    {{ localize 'S0.Protecao' }}
                    {{#if canRoll}}
                    <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="protect">
                        <i class="fas fa-refresh"></i>
                    </a>
                    {{/if}}
                </h3>

                <div id="protect" class="S0-inner-container" style="flex-wrap: wrap; column-gap: 26px; row-gap:10px">
                    {{#forLoop 0 actor.system.equipedProtectItem.system.resistance}}
                    {{#with ../canRoll as |canRoll|}}
                    <div class="S0-characteristic S0-characteristic-temp {{#if canRoll}}S0-clickable{{/if}}"
                        data-action="{{#if canRoll}}check{{/if}}" data-characteristic="temporary" data-type="protect">
                    </div>
                    {{/with}}
                    {{/forLoop}}
                </div>
            </div>
            {{/unless}}

        </ul>
    </div>

    <div class="S0-container">
        <h2>
            {{localize 'S0.Efeitos_Ativos'}}
            <a class="S0-icon-expand" data-action="view" data-characteristic="effects">
                <i id="effects-container-icon" class="fas fa-chevron-up"></i>
            </a>
            {{#if canRoll}}
            <a class="S0-icon-rotate" data-action="check" data-characteristic="effects">
                <i class="fas fa-refresh"></i>
            </a>
            <a class="S0-icon-expand" data-action="remove" data-characteristic="effects" data-type="all"> <i
                    class="fas fa-trash"></i> </a>
            {{/if}}
        </h2>

        <ul id="effects-container" class="S0-container S0-container-contract S0-expanded">
            {{#each effects as |item index|}}
            <li>
                {{ item.origin }}: {{ item.name }}
                <a class="S0-icon-expand" data-action="remove" data-characteristic="effects" data-type="single"
                    data-item-index="{{ index }}">
                    <i class="fas fa-remove"></i>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>