<div class="S0-message-content">
    <h4 style="text-align: center;">{{localize virtue1}} + {{localize virtue2}}</h4>
    <hr>

    <div class="dice-tooltip S0-container-contract">
        <p>{{localize 'S0.Teste'}}: {{ formule }}</p>

        <hr>

        {{#unless (isEmpty diceValues)}}
        <p>{{localize 'S0.Rolagem'}}:</p>
        <ol class="dice-rolls">
            {{#each diceValues }}
            <li class="S0-d10 roll die d10">{{ this }}</li>
            {{/each}}
        </ol>
        {{/unless}}

        <hr>

        <div
            style="display: flex; column-gap: 4px; margin-block: 6px; align-items: center; justify-content: space-around;">
            <label>{{localize 'S0.Sucessos'}}: {{ resultValue }} </label>
            <label>{{localize 'S0.Dificuldade'}}: {{ difficulty }}</label>
        </div>

        <section>
            {{#unless (lt penalty 1)}}
            <label style="display: block; margin-block: 4px;">{{localize 'S0.Penalidade'}}: {{ penalty }}</label>
            {{/unless}}

            {{#unless (lt bonus 1)}}
            <label style="display: block; margin-block: 4px;">{{localize 'S0.Bonus'}}: {{ bonus }}</label>
            {{/unless}}

            {{#unless (lt automatic 1)}}
            <label style="display: block; margin-block: 4px;">{{localize 'S0.Automatico'}}: {{ automatic }}</label>
            {{/unless}}
        </section>
    </div>

    <button class="S0-roll-result {{ resultMessageClasses }}" data-action="toggle-tooltip" data-handle-on-dom="true">
        {{ resultMessage }} ( {{ resultValue }} )
    </button>

</div>