{{ log this }}
<ul id="floating-menu" class="S0-float-right-sheet">
    {{#if canEdit}}
    <li class="S0-simulate-button {{#if editable}}S0-marked{{/if}}" data-characteristic="menu" data-action="check"
        data-type="edit">
        {{#if editable}}
        <i class="fas fa-toggle-on" style="margin-right: 4px;"></i>
        {{ localize 'S0.Editando' }}
        {{else}}
        <i class="fas fa-toggle-off" style="margin-right: 4px;"></i>
        {{ localize 'S0.Editar' }}
        {{/if}}
    </li>
    {{/if}}
    <li class="S0-simulate-button" data-characteristic="menu" data-action="check" data-type="color">
        <i class="fas fa-circle-half-stroke"></i>
        {{localize 'S0.Modo_Escuro'}}
    </li>
</ul>

<div class="S0-page">
    <header class="S0-container sheet-header">
        <h2>
            <input name="name" type="text" value="{{item.name}}" placeholder="Nome do Equipamento" />
        </h2>
    </header>

    <div class="S0-flex-center S0-container">
        <img {{#if editable}}class="S0-clickable" {{/if}}
            style="object-fit: contain; width: 100%; border-radius: var(--border-radius-large);" src="{{item.img}}"
            data-edit="img" title="{{item.name}}" width="128" height="128" />
    </div>
</div>