<form class="S0-page" autocomplete="off">
    {{> "systems/setor0OSubmundo/templates/items/common-equipment.hbs" this}}

    <div class="S0-page S0-container">
        <div class="form-group">
            <label style="flex: 1;">
                {{localize 'S0.Resistencia'}}:
            </label>
            <input style="flex: 1;" type="number" name="system.resistance" value="{{system.resistance}}" />
        </div>

        <div class="form-group">
            <label style="flex: 1;">
                {{localize 'S0.Dano'}}:
            </label>
            <input style="flex: 1;" type="number" name="system.damage" value="{{system.damage}}" />
        </div>

        <div class="form-group">
            <label style="flex: 1;">
                {{localize 'S0.Ocultabilidade'}}:
            </label>
            <input style="flex: 1;" type="number" name="system.occultability" value="{{system.occultability}}" />
        </div>

        <label style="display: block; margin-block: 5px;">
            {{localize 'S0.Descricao'}}:
        </label>
        <textarea style="resize: none;" name="system.description" type="text" maxlength="150"
            rows="5">{{system.description}}</textarea>
    </div>
</form>