<!-- #region ROLLS -->
{{#unless (isEmpty overloadValues)}}
<p>{{localize 'S0.Sobrecarga'}}:</p>
<ol class="dice-rolls">
    {{#each overloadValues}}
    <li class="S0-d10 roll die d10 S0-d10-overload">{{ this }}</li>
    {{/each}}
</ol>
{{/unless}}

{{#unless (isEmpty defaultValues)}}
<p>{{localize 'S0.Rolagem'}}:</p>
<ol class="dice-rolls">
    {{#each defaultValues }}
    <li class="S0-d10 roll die d10">{{ this }}</li>
    {{/each}}
</ol>
{{/unless}}

<hr>
<!-- #endregion -->

<!-- #region DIFFICULTY and CRITIC -->
<div class="S0-container-2-column">
    <label>{{localize 'S0.Dificuldade'}}: {{ difficulty }}</label>

    {{#if (operators 'lt' critic 10)}}
    <label>{{localize 'S0.Critico'}}: {{ critic }}</label>
    {{/if}}
</div>

<hr>
<!-- #endregion -->

<!-- #region HALF and ESPECIALIST -->
{{#if (operators 'or' half specialist)}}
<div class="S0-container-2-column">
    {{#if half}}
    <label>
        {{localize 'S0.Dividido'}}
    </label>
    {{/if}}

    {{#if specialist}}
    <label>
        {{localize 'S0.Especialista'}}
    </label>
    {{/if}}
</div>

<hr>
{{/if}}
<!-- #endregion -->

<!-- #region BONUS and PENALTY -->
{{#if (operators 'or' (operators 'gt' penalty 0) (operators 'gt' bonus 0))}}
<div class="S0-container-2-column">
    {{#if (operators 'gt' penalty 0)}}
    <label>
        {{localize 'S0.Penalidade'}}: {{ penalty }}
    </label>
    {{/if}}

    {{#if (operators 'gt' bonus 0)}}
    <label>
        {{localize 'S0.Bonus'}}: {{ bonus }}
    </label>
    {{/if}}
</div>

<hr>
{{/if}}
<!-- #endregion -->

<!-- #region AUTOMATIC -->
{{#if (operators 'gt' automatic 0)}}
<div class="S0-container-2-column">
    <label>
        {{localize 'S0.Automatico'}}: {{ automatic }}
    </label>
</div>

<hr>
{{/if}}
<!-- #endregion -->

<!-- #region WEAPON -->
{{#unless (operators 'isNull' weapon)}}
<div class="S0-message-weapon-container">
    <label style="margin-block: 4px;" class="S0-hide-long-text">
        {{localize 'S0.Arma'}}: {{weapon.name}}
    </label>

    <hr>

    <label style="margin: 2px 10px;">
        {{localize 'S0.Tipo'}}: {{ weapon.damage_type }}
    </label>

    <label style="margin: 2px 10px;">
        {{localize 'S0.Dano'}}: {{ weapon.damage }}
    </label>

    <label style="margin: 2px 10px;">
        {{localize 'S0.Dano_Automatico'}}: {{ weapon.true_damage }}
    </label>
</div>

<hr>
{{/unless}}
<!-- #endregion -->

<!-- #region CAN USE PERSEVERANCE -->
{{#if canUsePerseverance}}
<button class="S0-roll-result" data-action="roll" data-handle-on-dom="true" data-type="perseverance">
    {{localize 'S0.Usar_Perseveranca'}}
</button>
{{/if}}
<!-- #endregion -->