{{#if canEdit}}
<li class="S0-simulate-button {{htmlUtils 'marked' editable}} {{htmlUtils 'compacted'}}" data-characteristic="menu"
    data-action="check" data-type="edit">
    {{#if editable}}
    <i class="fas fa-toggle-on" style="margin-right: 4px;"></i>
    {{#unless (gameFunc 'isCompactedSheet')}}
    {{ localize 'S0.Editando' }}
    {{/unless}}
    {{else}}
    <i class="fas fa-toggle-off" style="margin-right: 4px;"></i>
    {{#unless (gameFunc 'isCompactedSheet')}}
    {{ localize 'S0.Editar' }}
    {{/unless}}
    {{/if}}
</li>
{{/if}}

<li class="S0-simulate-button {{htmlUtils 'marked' (gameFunc 'inDarkMode')}} {{htmlUtils 'compacted'}}"
    data-characteristic="menu" data-action="check" data-type="dark">
    <i class="fas fa-circle-half-stroke"></i>
    {{#unless (gameFunc 'isCompactedSheet')}}
    {{localize 'S0.Modo_Escuro'}}
    {{/unless}}
</li>

<li class="S0-simulate-button {{htmlUtils 'marked' (gameFunc 'isCompactedSheet')}} {{htmlUtils 'compacted'}}"
    data-characteristic="menu" data-action="check" data-type="compact" title="{{localize 'S0.Modo_Compacto'}}">
    <i class="fas fa-arrows-left-right-to-line"></i>
    {{#unless (gameFunc 'isCompactedSheet')}}
    {{localize 'S0.Modo_Compacto'}}
    {{/unless}}
</li>

{{#if canRoll}}
<li class="S0-simulate-button {{htmlUtils 'compacted'}}" data-characteristic="menu" data-action="roll"
    title="{{localize 'S0.Rolagem'}}">
    <i class="fas fa-dice-d10"></i>
    {{#unless (gameFunc 'isCompactedSheet')}}
    {{ localize 'S0.Rolagem' }}
    {{/unless}}
</li>
{{/if}}